//Copyright (C)2014-2023 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//GOWIN Version: 1.9.8.11
//Part Number: GW1N-UV9LQ144C6/I5
//Device: GW1N-9
//Device Version: C
//Created Time: Wed 05 17 15:31:00 2023

IO_LOC "LED[7]" 51;
IO_PORT "LED[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[6]" 52;
IO_PORT "LED[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[5]" 54;
IO_PORT "LED[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[4]" 56;
IO_PORT "LED[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[3]" 57;
IO_PORT "LED[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[2]" 58;
IO_PORT "LED[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[1]" 59;
IO_PORT "LED[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED[0]" 60;
IO_PORT "LED[0]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "SW[6]" 44;
IO_PORT "SW[6]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[4]" 46;
IO_PORT "SW[4]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[5]" 45;
IO_PORT "SW[5]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[3]" 47;
IO_PORT "SW[3]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[1]" 49;
IO_PORT "SW[1]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[2]" 48;
IO_PORT "SW[2]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[0]" 50;
IO_PORT "SW[0]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[7]" 43;
IO_PORT "SW[7]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[9]" 41;
IO_PORT "SW[9]" PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "SW[8]" 42;
IO_PORT "SW[8]" PULL_MODE=UP BANK_VCCIO=1.8;
